@media (max-width: 900px) {
	.Wallpaper {
	width: 100vw;
	height: auto;
	max-height: 60vh;
	object-fit: cover;
	max-width: 100%;
	overflow: clip;
}
}



.welcome {
	width:40vw;
	height:20vh;
	max-height: 10vw;
	top: 12vh;
	margin-left: 32.5vw;
	position: absolute;
	transform: skew(170deg);
	z-index: +1;
	background: rgba(219, 240, 239, 0.8);
	border: 3px solid rgb(22, 77, 100);
}

#Nombre {
	transform: skew(10deg);
	text-align: center;
	font-size: 4.8vw;
	width: auto;
	font-family: "Yesteryear", Serif;
}

.socialmedia {
	width: 2vw;
	margin: 1vw;
	margin-top: 5vh;
	float: right;
}

#Cuales {
	margin: 0px;
	padding: 0px;
	text-align: center;
	transform: skew(10deg);
	font-size: 1.3vw;
	letter-spacing: 0.4vw;
	font-family: "Quicksand", Sans-Serif;
}

#media {
	margin-right: 5vw;
	margin-bottom: 0px;
}

.lien {
	margin: 1vw;
}


#img-circle {
	position: absolute;
	left: 37.5vw;
	max-width: 15vw;
	top: 3.5vh;
	display: inline;
	border-radius: 50%;
	float: left;
	z-index: 0;
}

.Aboutme {
	position: relative;
	font-family: "Raleway", Serif;
	text-align: left;
	left: 5vw;
	display: inline;
	width: 35vw;
	top: 3.5vh;
	font-size: 1.1vw;
	float: left;
}

#Aimsandplans {
	position: absolute;
	left: 55.5vw;
	width: 35vw;
	top: 0vh;
	display: inline;
	float: left;
	z-index: 0;
}